/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

@import url('https://fonts.googleapis.com/css?family=Griffy|PT+Sans|Space+Mono|Revalia');
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
nav{
	font-family: 'PT Sans', sans-serif;
}		
body{
	font-family: 'Space Mono', monospace;
}
.mine {
    font-family: 'Griffy', cursive;
}
a .btn{
	font-family: sans-serif;
}
.footer-link{
	color:black;
}
.footer-link:hover{
	color:white;
}
.social-link{
	color:black;
}
.social-link:hover{
	color:white;
}
.modal {
	width: 75% !important ; 
	height: 100% !important ; 
}
#toast-container {
  top: auto !important;
  left:auto !important;
  right: 6%;
  bottom: 4%;
  
}