  #footer {
        
	background-image:url("../images/headerimage.jpg");
    }
	 #headerNav {
        background-image:url("../images/headerimage.jpg")
    }
	
	body{
		background-color:#DCDCDC;
		
	}
	
